@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.container {
  background-image: url("../assets/Desktop\ -\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.container nav {
  display: flex;
  justify-content: flex-start;
}
.container > nav > a {
  font-weight: bold;
  font-size: 2.1em;
  text-align: center;
  color: #000000;
}
.main__container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 16%;
  top: 14%;
  width: 70%;
  height: 70%;
  background: linear-gradient(
    137.48deg,
    rgba(0, 226, 0, 0.12) 0%,
    rgba(35, 239, 17, 0.27) 100%
  );
  backdrop-filter: blur(60px);
  border-radius: 37px;
}
.login__container,
.admin__login {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.admin__login {
  width: 100%;
}
.login__container h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: #039703;
}
.login__container a {
  text-align: left;
  margin: 0px 6px 0px 6px;
  font-size: 0.9em;
  line-height: 19px;
  text-decoration-line: underline;
  color: #039703;
}
label {
  text-align: left;
  font-size: 16px;
  color: #039703;
  padding: 2px;
}
nav img {
  width: 8vw;
  height: 8vw;
}
img {
  position: relative;
  top: 17%;
  width: 320px;
  height: 320px;
}
.img__container {
  margin: auto;
  padding: 0px;
}

.login__span {
  font-weight: bold;
  margin: 10px;
  font-size: 1.2em;
}
input {
  margin-top: 10px;
  padding: 10px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
}
input[type="submit"] {
  cursor: pointer;
  width: 30ch;
  align-items: center;
  background: #16760d;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
  margin-top: 10px;
}

input::placeholder {
  width: 60%;
  height: 10%;
  font-size: 1.2em;
  line-height: 20px;
  color: #039703;
  opacity: 0.5;
}
.error {
  color: red;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
p {
  text-align: left;
  color: red;
  margin: 0px;
  padding: 0px;
  font-size: 0.99em;
}
form a {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1080px) {
  .main__container {
    position: absolute;
    left: 5%;
    top: 24%;
    width: 90%;
    height: 60%;
  }
  .img__container {
    margin: auto;
    padding: 20px;
  }
  img {
    position: relative;
    top: 26%;
    right: 0%;
    width: 280px;
    height: 280px;
  }
  input[type="submit"] {
    width: 25ch;
  }
}

@media screen and (max-width: 694px) {
  .container {
    background-image: none;
  }
  .main__container {
    position: absolute;
    top: 8%;
    left: 5%;
    flex-direction: column-reverse;
    width: 90vw;
    height: 90vh;
    background: linear-gradient(
      137.48deg,
      rgba(0, 226, 0, 0.12) 0%,
      rgba(35, 239, 17, 0.27) 100%
    );
    backdrop-filter: blur(60px);
    border-radius: 24px;
  }
  .img__container {
    height: 200px;
    padding: 0px;
  }
  .login__container {
    margin: auto;
  }
  img {
    width: 220px;
    height: 140px;
  }

  .login__container h2 {
    font-size: 1.4em;
  }
  input::placeholder {
    width: 60%;
    height: 100%;
    font-size: 1.2em;
    line-height: 18px;
    color: #039703;
  }
}
