.container {
  background-image: url("../assets/Desktop\ -\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.container nav {
  display: flex;
  justify-content: flex-start;
}
.container > nav > a {
  font-weight: bold;
  font-size: 2.1em;
  line-height: 37px;
  text-align: center;
  color: #000000;
}
.main__container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 24%;
  width: 55%;
  height: 50%;
  background: linear-gradient(
    137.48deg,
    rgba(0, 226, 0, 0.12) 0%,
    rgba(35, 239, 17, 0.27) 100%
  );
  backdrop-filter: blur(60px);
  border-radius: 37px;
}
.login__container,
.admin__login {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.login__container h2 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 45px;
  color: #039703;
}
input {
  position: relative;
  right: 0px;
  margin: 3px;
  padding: 10px;
  width: 280px;
  height: 23%;
  background: #ffffff;
  border-radius: 8px;
}

input::placeholder {
  width: 60%;
  height: 10%;
  font-size: 1.2em;
  line-height: 20px;
  color: #039703;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: none;
  }
  .main__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: 24%;
    width: 90%;
    height: 60%;
    background: linear-gradient(
      137.48deg,
      rgba(0, 226, 0, 0.12) 0%,
      rgba(35, 239, 17, 0.27) 100%
    );
    backdrop-filter: blur(60px);
    border-radius: 37px;
  }
  input {
    margin: 3px;
    padding: 10px;
    width: 220px;
    height: 23%;
    background: #ffffff;
    border-radius: 8px;
  }

  input::placeholder {
    width: 60%;
    height: 100%;
    font-size: 1.2em;
    line-height: 20px;
    color: #039703;
  }
  img {
    width: 320px;
    height: 320px;
  }
}
